---
apiVersion: v1
data:
  tls.crt: {{ base64_cert_content }}
  tls.key: {{ base64_key_content }}
kind: Secret
metadata:
  name: registry-certs
  namespace: default
type: kubernetes.io/tls
---
apiVersion: v1
data:
  {{ registry_user }}: {{ base64_registry_htpasswd }}
kind: Secret
metadata:
  name: registry-auth
  namespace: default
type: Opaque
