---
apiVersion: v1
data:
  tls.crt: {{ registry_facts.base64_tls_cert }}
  tls.key: {{ registry_facts.base64_tls_key }}
kind: Secret
metadata:
  name: registry-certs
  namespace: default
type: kubernetes.io/tls
---
apiVersion: v1
data:
  {{ registry_facts.user }}: {{ registry_facts.pass | b64encode }}
kind: Secret
metadata:
  name: registry-auth
  namespace: default
type: Opaque
